TELEGRAM_BOT_TOKEN=
GOOGLE_SHEETS_SPREADSHEET_ID=1AYhWZ6exyXS_fsqHgTAbH6hzE9a1fl2wCJDCz1fLAfU
# JSON ключа сервісного акаунта (завантажений з Google Cloud). Приклад імені:
GOOGLE_SERVICE_ACCOUNT_FILE=clever-circlet-399010-455c14111e4e.json
